<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<add name="CatalogoDB"
		 connectionString="Server=DESKTOP-K605RT2;Database=CATALOGO_P3_DB;Integrated Security=True"                                                                                                                            providerName="System.Data.SqlClient" />
</configuration>