################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/TPWinForm_equipo-9A/obj/Debug
/TPWinForm_equipo-9A/.vs
